@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.basic-font {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("images/background_image.jpg");
    width: 1440px;
    height: 806px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.info-container {
    position: absolute;
    display: flex;
    bottom: 45px;
    left: 100px;
}

.additional-info {
    display: flex;
    width: 130px;
} 

.current-temperature {
    position: relative;
    bottom: 48px;
    font-size: 143px;
}

#city {
    position: relative;
    bottom: 75px;
    left: 12px;
    font-size: 65px;
}

#date {
    position: absolute;
    flex-wrap: wrap;
    font-size: 19.5px;
    bottom: 0px;
    left: 50px;
}

#cloud-img {
    position: relative;
    bottom: 45px;
    left: 65px;
    width: 60px;
    height: 60px;
}

.blur {
    top: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(7px)
}

.weather-tab-container {
    border-left: 4px solid rgba(212, 211, 211, 0.2);
    position: absolute;
    width: 526px;
    height: 1205px;
    top: 0;
    bottom: 0;
    right: 0;
}

.info-container, .weather-tab-container {
    color: white
}

.weather-tab-container, .section-header{
    font-size: 17px;
    padding-left: 30px;
    text-align: left;
}

.tab-header-container {
    position: relative;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 50px;
    border-bottom: 2px solid #ffff;
}

.tab-header {
    width: 300px;
}

#searcher {
    position: relative;
    top: 15px;
    left: 210px;
    width: 25px;
    height: 25px;

}

.weather-details, #thunder {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style:italic;
}


.weather-tab-container img{
    width: 1.2vw;
    height: 1.5vw;
}


.blur {
}

#forecast-title {
    padding-top: 2vw;
    padding-bottom: 2em;
    text-align: left;
}

.forecast-image, #snowflake1, #snowflake2 {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 33px;
    height: 33px;
}

.temperature {
    padding-top: 0.3em;
    padding-right: 4vw;
}

.forecast-info {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15vw;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    width: 26em;
    height: 5em;
    display: flex;
    justify-content: space-between;
}


.small-text {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.mid-text {
    font-size: 73px;
}

.pale-text {
    width: 5em;
    height: 1em;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    opacity: 0.6;
    padding-right: 2em;
    margin-right: 2em;
}

#city {
    width: 3em;
    height: 1em;
    padding-top: 1.2em;
}

#date {
    width: 16vw;
    height: 5vw;
    padding-left: 11.5vw;
}

#search {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    opacity: 0.6;
}

#logo {
    position: absolute;
    display: flex;
    width: 89px;
    height: 55px;
    left: 75px;
    top: 30px;
}

#cloud-img {
    width: 4vw;
    padding-top: 5vw;
    padding-left: 4vw;
}

#snowflake1, #snowflake2 {
    width: 2vw;
    height: auto;
}

.weather-format{
    height: auto;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 3.5%;
    margin-top: 3.5%;
    display: flex;
}

.row {
    padding-right: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#blank-line {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 5vw;
    border-bottom: 1px inset ghostwhite;
}

