@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@media only screen and (max-width: 639px) { 
body {
    margin: 0;
    padding: 0;
    background-image: url("images/background_phone.png");
    width: 300px;
    height: 600px;
    color: white;
}

.blank-line {
    display: flex;
    max-width: 77vw;
    border-bottom: 1px solid #ffff;
}

#top-bar-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 90vw;
    height: 5.5vh;
}

#logo {
    display: flex;
    width: 40px;
    height: 28px;
    left: 75px;
    top: 10px;
    padding-left: 15px;
}


.search-bar-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 35vw;
    height: 4vh;
    padding-bottom: 5px;
}

#search-text {
    display: flex;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 9px;
    opacity: 0.8;
    margin-bottom: 4x;
    border-radius: 40px;
    border-width: 3px;
    width: 20vw;
}

#search-button {
    border-radius: 50px;
    border-width: 2px;
    border-color: #132059;
    margin: 0px;
}

#searcher-img {
    background-color: rgb(48, 54, 141);
    border-radius: 50px;
    width: 7px;
    height: 6x;
    padding: 2px;
}

.info-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    top: 18.5vh;
    left: 5vw;
}

.current-temperature {
    flex: 1;
    font-size: 64px;
    margin: 0px;
}

#additional-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 140px;
    padding-left: 5px;
    padding-top: 10px;
}

#city {
    max-height: 195px;
    font-size: 30px;

}

#date {
    margin: 0px;
    font-size: 9px;
}

#cloud-img {
    height: 55px;
    width: 55px;
}

.blur {
    display: flex;
    height: 65dvh;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(9px);
}

.weather-tab-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: 65dvh;
    flex-direction: column;
    border-top: 4px solid rgba(212, 211, 211, 0.2);
}

.weather-tab-container, .section-heading{
    font-size: 17px;
}

.weather-details-container {
    display: flex;
    padding-top: 6vh;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80.5vw;
    height: 35vh;
    top: 170px;
}

#forecast-heading-container {
    display: flex;
    justify-content: center;
    height: 4.4vh;
    width: 74vw;
}

#forecast-heading {
    margin: 0px;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 2vh;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76vw;
    height: 6vh;
}

.w-characteristics {
    opacity: 0.7;
    width: 23vh;
}

#blank-container {
    display: flex;
    width: 80vw;
    height: 10vh;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 18vh;
    max-width: 80vw;
}

.weather-forecast-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 7vh;
}

#weather-details {
    margin: 0px;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    height: 10vh;
}

.left-part {
    display: flex;
    justify-content: center;
}

.weather-img {
    height: 50px;
    width: 50px;
}

.hour-weather {
    display: flex;
    flex-wrap: wrap;
    width: 12vw;
    height: 9vh;
    font-size: 18px;
    opacity: 0.8;
    padding-left: 10px;
}

#current-time {
    margin: 0px;
}

#weather-description {
    margin: 0px;
    width: 5vw;
}

.forecast-temp {
    margin: 0px;
    font-size: 24px;
    opacity: 0.7;
}
}



@media only screen and (min-width: 640px)
and (max-width: 1149px) { 
    body {
        background-image: url("images/background_tablet.jpg");
        width: auto;
        height: 1049;
        color: white;
    }

    .blank-line {
        display: flex;
        max-width: 37vw;
        border-bottom: 1px solid #ffff;
    }

    #top-bar-container {
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 90vw;
        height: 6vh;
    }

    #logo {
        display: flex;
        width: 80px;
        height: 45px;
        padding-left: 15px;
    }


    .search-bar-container {
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 33vw;
        height: 6vh;
        padding-bottom: 5px;
    }

    #search-text {
        display: flex;
        flex-shrink: 1;
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 20px;
        opacity: 0.8;
        border-radius: 40px;
        border-width: 3px;
        width: 20vw;
    }

    #search-button {
        border-radius: 50px;
        border-width: 4px;
        border-color: #132059;
        margin: 0px;
    }

    #searcher-img {
        background-color: rgb(48, 54, 141);
        border-radius: 50px;
        width: 10px;
        height: 10px;
        padding: 5px;
    }

    .info-container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-between;
        top: 24vh;
        left: 5vw;
    }

    .current-temperature {
        flex: 1;
        font-size: 120px;
        margin: 0px;
    }

    #additional-info {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 260px;
        padding-left: 5px;
        padding-top: 15px;
    }

    #city {
        max-height: 195px;
        font-size: 48px;

    }

    #date {
        margin: 0px;
        font-size: 16px;
    }

    #cloud-img {
        height: 55px;
        width: 55px;
        padding-left: 10px;
    }

    .blur {
        display: flex;
        height: 55dvh;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0;
        backdrop-filter: blur(9px);
    }

    .weather-tab-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0;
        width: auto;
        height: 55dvh;
        flex-direction: column;
        border-top: 4px solid rgba(212, 211, 211, 0.2);
    }

    .weather-tab-container, .section-heading{
        font-size: 17px;
    }

    .weather-details-container {
        display: flex;
        align-items:end;
        height: 15vh;
    }

    .forecast-container {
        display: flex;
        flex-wrap: wrap;
        width: 40vw;
        height: 35vh;
        top: 170px;
        border-bottom: 1px solid #ffff;
    }

    #forecast-heading-container {
        display: flex;
        align-items:center;
        justify-content: center;
        height: 5vh;
        width: 55vw;
    }

    #forecast-heading {
        text-transform: uppercase;
        margin: 0px;
        font-size: 21px;
        font-size: 18px;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40vw;
        height: 4.4vh;
    }

    .w-characteristics {
        opacity: 0.7;
        width: 23vh;
    }

    #blank-container {
        height: 6vh;
        width: 100%;
        border: none;
    }

    .weather-container {
        display: flex;
        flex-direction: column;
    }

    .weather-forecast-container {
        display: flex;
        align-items: center;
        max-width: 45vw;
        height: 4vh;
    }

    .line {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 25vw;
        height: 8vh;
    }

    .left-part {
        display: flex;
        justify-content: space-between;
        width: 100px;
    }

    .weather-img {
        height: 48px;
        width: 48px;
    }

    .hour-weather {
        display: flex;
        flex-wrap: wrap;
        width: 6vw;
        height: 4vh;
        font-size: 18px;
        opacity: 0.8;
    }

    #current-time {
        margin: 0px;
    }

    #weather-description {
        margin: 0px;
    }

    .forecast-temp {
        margin: 0px;
        font-size: 24px;
        opacity: 0.7;
    }

    
}



@media only screen and (min-width: 1150px) {
    .info-container, .weather-tab-container {
        color: #FFFFFF;
    }

    body {
        background-image: url("images/background_laptop.jpg");
        width: 1150px;
        height: 806px;
    }

    #top-bar-container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 93vw;
        height: 10vh;
        z-index: 1;
    }

    #logo-container {
        display: flex;
        align-items: end;
        justify-content: center;
        width: 15vw;
        height: 10vh;
    }

    #logo {
        display: flex;
        width: 96px;
        height: 55px;
        left: 75px;
        top: 30px;
    }

    .search-bar-container {
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding-bottom: 5px;
        width: 33vw;
        height: 9vh;
    }

    #search-text {
        display: flex;
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 20px;
        opacity: 0.8;
        border-radius: 40px;
        border-width: 4px;
        padding: 5px;
    }

    #search-button {
        border-radius: 50px;
        border-width: 5px;
        border-color: #132059;
    }

    #searcher-img {
        background-color: rgb(48, 54, 141);
        width: 13px;
        height: 13px;
        margin: 5px;
        padding: 5px;
    }

    .blank-line {
        display: flex;
        max-width: 27vw;
        border-bottom: 1px solid #ffff;
    }


    .info-container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-between;
        top: 68vh;
        left: 7vw;
    }

    .current-temperature {
        flex: 1;
        font-size: 140px;
        margin: 0px;
    }

    #additional-info {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 260px;
        padding-left: 5px;
        padding-top: 15px;
    }

    #city {
        max-height: 195px;
        font-size: 55px;

    }

    #date {
        margin: 0px;
        font-size: 17px;
    }

    #cloud-img {
        height: 75px;
        width: 75px;
        padding-left: 10px;
    }

    .blur {
        position: absolute;
        display: flex;
        height: 100dvh;
        top: 0;
        right: 0;
        backdrop-filter: blur(9px);
        z-index: 0;

    }

    .weather-tab-container {
        position: absolute;
        display: flex;
        top: 0;
        right: 0;
        width: 34vw;
        height: 100dvh;
        flex-direction: column;
        border-left: 4px solid rgba(212, 211, 211, 0.2);
    }

    .weather-tab-container, .section-heading{
        font-size: 17px;
        padding-left: 35px;
        text-align: left;
    }

    .weather-details-container {
        display: flex;
        align-items: end;
        height: 20vh;
        width: 15vw;
        top: 55px;
    }

    #weather-details {
        margin: 0px;
    }

    .forecast-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 26.5vw;
        height: 70vh;
        top: 170px;
    }
    
    #forecast-heading-container {
        display: flex;
        align-items: end;
        width: 55vw;
        height: 8vh;
    }

    #forecast-heading {
        margin: 0px;
        text-transform: uppercase;
        font-size: 21px;
        font-size: 18px;
    }

    .w-characteristics {
        opacity: 0.7;
        width: 30vh;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40vw;
        height: 8vh;
    }


    #blank-container {
        display: flex;
        width: 42vw;
        height: 8vh;
    }

    .weather-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 30vh;
        max-width: 26vw;
    }

    .weather-forecast-container {
        display: flex;
        align-items: center;
        max-width: 18vw;
        height: 10vh;
    }

    .line {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 25vw;
        height: 10vh;
    }

    .left-part {
        display: flex;
        justify-content: space-between;
        width: 150px;
    }

    .weather-img {
        height: 48px;
        width: 48px;
    }

    .hour-weather {
        display: flex;
        flex-wrap: wrap;
        width: 6vw;
        height: 6vh;
        font-size: 18px;
        opacity: 0.8;
    }

    #current-time {
        margin: 0px;
    }

    #weather-description {
        margin: 0px;
    }

    .forecast-temp {
        font-size: 24px;
        opacity: 0.7;
    }
}