@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.info-container, .weather-tab-container {
    color: #FFFFFF;
}

.blank-line {
    border-bottom: 1px solid #ffff;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("images/background_image.jpg");
    width: 1440px;
    height: 806px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo {
    position: absolute;
    display: flex;
    width: 89px;
    height: 55px;
    left: 75px;
    top: 30px;
}

.info-container {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: space-between;
    left: 160px;
    top: 500px;
    height: 230px;
    width: 560px;
}

#additional-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100px;
}

#current-temperature {
    font-size: 143px;
    margin: 0px;
}

#city {
    font-size: 60px;
    height: 60px;
}

#date {
    font-size: 17px;
    height: 20px;
}

#cloud-img {
    height: 70px;
    width: 70px;
}

.blur {
    top: 0;
    bottom: 0;
    le: 0;
    backdrop-filter: blur(9px);
}

.weather-tab-container {
    border-left: 4px solid rgba(212, 211, 211, 0.2);
    position: absolute;
    width: 526px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
}

.weather-tab-container, .section-heading{
    font-size: 17px;
    padding-left: 35px;
    text-align: left;
}

.tab-heading-container {
    display: flex;
    align-items:end;
    width: 400px;
    height: 90px;
}

.title {
    height: 50px;
    width: 350px;
}

#searcher {
    width: 28px;
    height: 28px;
    padding-bottom: 10px;
}

#search {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(30, 28, 28);
    opacity: 0.7;
}

.weather-details-container {
    display: flex;
    align-items: end;
    height: 80px;
    top: 55px;
}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    height: 315px;
    top: 170px;
}

#forecast-heading {
    font-size: 21px;
    top: 10px;
    font-size: 18px;
    height: 30px;
}

.w-characteristics {
    opacity: 0.7;
    width: 250px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    height: 26px;
}

.row-temp {
    left: 90px;
}

#row1 {
    top: 80px;
}

#row2 {
    top: 135px;
}

#row3 {
    bottom: 100px;
}

#row4 {
    bottom: 50px;
}

#row5 {
    bottom: 0px;
}

#blank-container {
    display: flex;
    width: 400px;
    height: 50px;
    top: 500px;
}

.weather-forecast-container {
    display: flex;
    top: 570px;

}


.weather-container {
    display: flex;
    top: 630px;

}

.line {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 400px;
    height: 90px;
}

.hour-weather {
    display: flex;
    font-size: 18px;
    opacity: 0.8;
    right: 90px;
}

.forecast-temp {
    font-size: 24px;
    opacity: 0.7;
}
